<div class="signup-ctr">
  <div class="signup-inr">
    <h3>Sign up</h3>
    <form class="" action="index.html" method="post">

      <input type="text" name="userName" value="" placeholder="userName">
      <input type="text" name="firstName" value="" placeholder="firstName">
      <input type="text" name="lastName" value="" placeholder="lastName">
      <input type="text" name="dob" value="" placeholder="dob">
      <input type="email" name="email" value="" placeholder="email">
      <input type="password" name="password" value="" placeholder="password">
      <input type="password" name="confirmpassword" value="" placeholder="confirm password">
      <input type="text" name="Orientation" value="" placeholder="Orientation">
      <input type="submit" name="" value="" placeholder="submit">

    </form>
  </div>
</div>
